<!DOCTYPE html>
<html>
    <head>
        <title>Reverse Complement Calculator</title>
    </head>
    <body>
        <p>Welcome to Reverse Complement Calculator!</p>
        <form action="enter_sequence" method="post">
            <br>
            <input type="submit" value="Enter Sequence" id="enter_sequence">
        </form>
        <form action="upload_file" method="post">
            <br>
            <input type="submit" value="Upload Plain Text File" id="upload_file">
        </form>
    </body>


</html>
